<h1><%= @post.title %></h1>
<h2>$<%= @post.price %>.00</h2>
<p><%= @post.text %></p>

<%= link_to("Edit Your Post", edit_category_post_path(@category, @post)) %>
<%= link_to("Delete Your Post", category_post_path, method: :delete) %>
